@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

$primary: rgb(118, 38, 64);
$body-color: rgb(51, 51, 51);

$font-family-sans-serif: 'Montserrat', sans-serif;

@import '../../node_modules/bootstrap/scss/bootstrap';
